#name {
  height: 4000px;
  width: 1920px;
  color: #333333;
  position: relative;
  background-color: #FFCD4C;
}

#name p {
  color: #f2f3f5;
}

#name .name_fix_wrap {
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#name .name_fix_wrap .name_cont_box {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

#name .name_fix_wrap .name_cont_box .name_canvas_wrap {
  position: relative;
/*  width: 100%;*/
  height: 100vh;
  opacity: 1;
  visibility: visible;
  transition: all .2s;
}

#name .name_fix_wrap .name_cont_box .name_canvas_wrap .name_canvas {
  position: absolute;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#name .name_fix_wrap .name_cont_box .name_canvas_wrap .name_no_canvas {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1920px;
  height: 1080px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#name .name_fix_wrap .name_cont_box .flex_box {
  display: flex;
  width: 1440px;
  position: absolute;
  height: 100%;
  top: 0;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 21%);
  -webkit-transform: translate(-50%, 21%);
  -moz-transform: translate(-50%, 21%);
  -o-transform: translate(-50%, 21%);
  -ms-transform: translate(-50%, 21%);
  flex-direction: column;
}

.name-logo-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#name .name_txt {
  width: 790px;
  z-index: 100;
  text-align: left;
  font-size: 24px;
  color: transparent;
  transition: color .2s .2s;
  display: flex;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

.name_txt .korean {
  font-family: 'GmarketSansMedium';
}

.name_txt .korean span {
  font-family: 'GmarketSansBold';
}

.name_txt .english {
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
}

#name .name_txt.active {
  color: #5826E8;
  transition: color .2s .2s;
}

#name .name_logo {
  flex-basis: 400px;
  z-index: -100;
  opacity: 1;
  margin: 0;
  display: flex;
  align-items: baseline;
}

#name .name_fix_wrap .name_cont_box .name_logo img {
  width: 100%;
  padding-top: 5px;
}


.hands-wrap {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  transform: translateY(100%);
  transition: all .4s;
}

.hands-wrap figure {
  margin: 0;
}

.hands-wrap.active {
  transform: translateY(-10%);
  transition: all .4s;
}

.celebration {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -120%);
  -webkit-transform: translate(-50%, -120%);
  -moz-transform: translate(-50%, -120%);
  -o-transform: translate(-50%, -120%);
  -ms-transform: translate(-50%, -120%);
  opacity: 0;
  z-index: -1;
  transition: all .8s;
}

.celebration.active {
  opacity: 1;
  transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
}

#name .name_fix_wrap .name_cont_box .name_canvas_wrap.active {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1024px) {
  #name {
    /*  height: 7000px;*/
    width: 1024px;
    /*    color: #333333;
    position: relative;
    background-color: #FFCD4C;*/
  }

  /*#name p {
    color: #f2f3f5;
  }*/
  /*  #name .name_fix_wrap {
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }*/
  /*  #name .name_fix_wrap .name_cont_box {
    overflow: hidden;
    position: relative;
    height: 100%;
  }*/
  /*#name .name_fix_wrap .name_cont_box .name_canvas_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: all .2s;
  }*/
  /*  #name .name_fix_wrap .name_cont_box .name_canvas_wrap .name_canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }*/
  #name .name_fix_wrap .name_cont_box .name_canvas_wrap .name_no_canvas {
    /*  display: none;
    position: absolute;
    left: 50%;
    top: 50%;*/
    width: 1024px;
    height: 100vh;
    /*  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
  }

  #name .name_fix_wrap .name_cont_box .flex_box {
    /*  display: flex;*/
    width: 768px;
    /*  position: absolute;
    height: 100%;
    top: 0;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 21%);
    -webkit-transform: translate(-50%, 21%);
    -moz-transform: translate(-50%, 21%);
    -o-transform: translate(-50%, 21%);
    -ms-transform: translate(-50%, 21%);
    flex-direction: column;*/
  }

  /*  .name-logo-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }*/
  #name .name_txt {
    width: 460px;
    font-size: 14px;
  }

  .name_txt .english {
    margin-top: 28px;
  }

  #name .name_logo {
    flex-basis: 220px;
  }

  #name .name_fix_wrap .name_cont_box .name_logo img {
    padding-top: 1px;
  }

  .hands-wrap img {
    width: 100%;
  }

  .hands-wrap.active {
    transform: translateY(0px);
    /*  transition: all .4s;*/
  }

  .celebration {
    /*    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;*/
    transform: translate(-50%, -220%);
    -webkit-transform: translate(-50%, -220%);
    -moz-transform: translate(-50%, -220%);
    -o-transform: translate(-50%, -220%);
    -ms-transform: translate(-50%, -220%);
    /*    opacity: 0;
    z-index: -1;
    transition: all .8s;*/
  }

  .celebration img {
    width: 100%;
  }

  .celebration.active {
    /*    opacity: 1;*/
    transform: translate(-50%, -200%);
    -webkit-transform: translate(-50%, -200%);
    -moz-transform: translate(-50%, -200%);
    -o-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
  }

  /*#name .name_fix_wrap .name_cont_box .name_canvas_wrap.active{
    opacity: 0;
    visibility: hidden;
  }*/
}

@media (max-width: 768px) {
  #name {
    width: 100%;
  }

  #name .name_fix_wrap .name_cont_box .name_canvas_wrap .name_no_canvas {
    width: 80%;
    height: 100vh;
  }

  #name .name_fix_wrap .name_cont_box .flex_box {
    width: 80%;
    transform: translate(-50%, 18%);
    -webkit-transform: translate(-50%, 18%);
    -moz-transform: translate(-50%, 18%);
    -o-transform: translate(-50%, 18%);
    -ms-transform: translate(-50%, 18%);
  }

  .name-logo-wrap {
    flex-direction: column;
  }

  #name .name_txt {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }

  .name_txt .english {
    margin-top: 28px;
  }

  #name .name_fix_wrap .name_cont_box .name_logo img {
    height: 60%;
  }

  .hands-wrap img {
    width: 100%;
  }

  .hands-wrap.active {
    transform: translateY(0px);
    /*  transition: all .4s;*/
  }

  .celebration {
    /*    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;*/
    transform: translate(-50%, -300%);
    -webkit-transform: translate(-50%, -300%);
    -moz-transform: translate(-50%, -300%);
    -o-transform: translate(-50%, -300%);
    -ms-transform: translate(-50%, -300%);
    /*    opacity: 0;
    z-index: -1;
    transition: all .8s;*/
  }

  .celebration img {
    width: 100%;
  }

  .celebration.active {
    /*    opacity: 1;*/
    transform: translate(-50%, -270%);
    -webkit-transform: translate(-50%, -270%);
    -moz-transform: translate(-50%, -270%);
    -o-transform: translate(-50%, -270%);
    -ms-transform: translate(-50%, -270%);
  }

  /*#name .name_fix_wrap .name_cont_box .name_canvas_wrap.active{
    opacity: 0;
    visibility: hidden;
  }*/
}

@media (max-width: 480px) {
  #name .name_fix_wrap .name_cont_box .name_canvas_wrap .name_no_canvas {
    width: 100%;
    height: 100vh;
  }

  #name .name_fix_wrap .name_cont_box .flex_box {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, 14%);
    -webkit-transform: translate(-50%, 14%);
    -moz-transform: translate(-50%, 14%);
    -o-transform: translate(-50%, 14%);
    -ms-transform: translate(-50%, 14%);
    flex-direction: column;
    align-items: center;
  }

  .name-logo-wrap {
    align-items: center;
  }

  #name .name_logo {
    flex-basis: 80px;
    justify-content: center;
  }

  #name .name_fix_wrap .name_cont_box .name_logo img {
    width: 80%;
  }

  #name .name_txt {
    width: 74%;
    text-align: center;
    font-size: 14px;
  }

  .name_txt .english {
    margin-top: 20px;
  }

  #name .name_txt.active {
    color: #5826E8;
    transition: color .2s .2s;
  }

  .hands-wrap {
    width: 90%;
    padding-top: 60px;
  }

  .hands-wrap.active{
    transform: translateY(25%);
  }

  .hands-wrap img {
    width: 100%;
  }

  .celebration {
    width: 90%;
    transform: translate(-50%, -340%);
    -webkit-transform: translate(-50%, -340%);
    -moz-transform: translate(-50%, -340%);
    -o-transform: translate(-50%, -340%);
    -ms-transform: translate(-50%, -340%);
  }

  .celebration.active {
    transform: translate(-50%, -300%);
    -webkit-transform: translate(-50%, -300%);
    -moz-transform: translate(-50%, -300%);
    -o-transform: translate(-50%, -300%);
    -ms-transform: translate(-50%, -300%);
  }
}
