#testStart {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.section7-container {
  height: 1400px;
  background-image: url('../img/gradient-bg.jpg');
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section7-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.test-button{
  padding: 16px 30px;
  background: #FFCD4C;
  border: none;
  cursor: pointer;
  transition: all .2s;
  margin-top: 24px;
  border-radius: 100px;
}

.test-button a{
  text-decoration: none;
}

.test-button-text{
  font-family: 'GmarketSansMedium';
  font-size: 20px;
  color: #5826E8;
  margin: 0;
  padding-top: 4px;
}

.test-button:hover{
  background: #5826E8;
}

.test-button:hover .test-button-text{
  color: #FFCD4C;
}

.section7-bottom-img img{
  position: absolute;
  left: 0;
  bottom: 0;
}

.movemeongt{
  font-family: 'GmarketSansMedium';
  font-size: 16px;
  color: #f2f3f5;
  position: absolute;
  bottom: 0;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, -150%);
}

@media (max-width: 1024px) {
  .section7-container {
    height: 910px;

  }

  .section7-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .test-button{
    padding: 10px 24px;
    background: #FFCD4C;
    border: none;
    cursor: pointer;
    transition: all .2s;
    margin-top: 24px;
    border-radius: 100px;
  }

  .test-button a{
    text-decoration: none;
  }

  .test-button-text{
    font-size: 16px;
    padding-top: 4px;
  }


  .movemeongt{
    font-size: 12px;
    transform: translate(-50%, -140%);
  }
}

@media (max-width: 768px) {
  .section7-container {
    height: 785px;

  }

  .section7-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .test-button{
    padding: 10px 24px;
    background: #FFCD4C;
    border: none;
    cursor: pointer;
    transition: all .2s;
    margin-top: 20px;
    border-radius: 100px;
  }

  .test-button a{
    text-decoration: none;
  }

  .test-button-text{
    font-size: 16px;
    padding-top: 4px;
  }


  .movemeongt{
    font-size: 12px;
    transform: translate(-50%, -80%);
  }
}

@media (max-width: 480px) {
  .section7-container {
    height: 600px;

  }

  .section7-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }


  .test-button{
    padding: 10px 24px;
    background: #FFCD4C;
    border: none;
    cursor: pointer;
    transition: all .2s;
    margin-top: 20px;
    border-radius: 100px;
  }

  .test-button a{
    text-decoration: none;
  }

  .test-button-text{
    font-size: 16px;
    padding-top: 4px;
  }


  .movemeongt{
    display: none;
  }
}
