#people {
  width: 100%;
  height: 100%;
  background: #FFCD4C;
  display: flex;
  justify-content: center;
  margin: 0;
}

#people .pimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 860px;
  position: relative;
  background-image: url('../img/peopleBG.jpg');
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  width: 1920px;
}

.section5_textbox {
  display: flex;
  flex-direction: row;
  color: #FFCD4C;
  text-align: center;
}

.section5_textbox img {
  margin-top: 15px;
}

.section5_textbox p {
  font-family: 'GmarketSansBold';
  font-size: 66px;
  transform: skewX(10deg);
  color: #5826E8;
  letter-spacing: -5px;
  margin: 0;
}

.section5-description {
  text-align: center;
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  color: #5826E8;
  margin-top: 20px;
}

#people .section5_wrapper {
  position: relative;
  width: 1400px;
  height: 215px;
  margin-top: 60px;
  overflow: hidden;
  transform: skewX(10deg);
}

#people li {
  list-style: none;
}

#people .slide_wrapper {
  position: relative;
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}

#people .slides {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

#people .slides.animated {
  transition: .5s ease-out;
  margin: 0;
}

#people .slides li {
  width: 384px;
  height: 200px;
  background: rgba(242, 243, 245, .6);
  float: left;
  border: 1px solid #5826E8;
}

#people .slides li:not(:last-child) {
  margin-right: 24px;
}

#people .controls {
  position: relative;
  width: 1400px;
  height: 200px;
  color: #f2f3f5;
  font-size: 32px;
  font-weight: 700;
  z-index: 1;
  top: -200px;
}

.prev {
  width: 100px;
  line-height: 200px;
  opacity: .5;
  transition: all .2s;
  font-family: 'GmarketSansBold';
  font-size: 60px;
}

.next {
  width: 100px;
  line-height: 200px;
  text-align: right;
  opacity: .5;
  transition: all .2s;
  font-family: 'GmarketSansBold';
  font-size: 60px;
}

.prev:hover {
  opacity: 1;
  cursor: pointer;
  color: #5826E8;
}

.next:hover {
  opacity: 1;
  cursor: pointer;
  color: #5826E8;
}

.uxBox {
  width: 364px;
  height: 100%;
  margin-left: 20px;
  overflow: hidden;
}

.uxBoxText {
  padding-top: 28px;
  height: 100%;
  z-index: 1;
  font-size: 16px;
  font-family: 'GmarketSansMedium';
  color: #5826E8;
  transform: skewX(-10deg);
  padding-right: 0;
}

.uxBoxImg {
  padding-top: 2%;
  transform: skewX(-10deg);
}

.uxBoxImg img {
  position: relative;
  width: 200%;
  left: -78%;
}

@media (max-width: 1400px) {
  #people .pimg {
    height: 720px;
    background-image: url('../img/peopleBG.jpg');
    width: 1400px;
  }

  #people .section5_wrapper {
    width: 1240px;
  }

  #people .slide_wrapper {
    position: relative;
    width: 1026px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
  }

  #people .slides li {
    width: 326px;
    height: 200px;
  }

  #people .controls {
    width: 1240px;
    height: 200px;
  }

  .uxBox {
    width: 344px;
  }

  .uxBoxImg {
    display: flex;
    align-items: flex-end;
  }

  .uxBoxImg img {
    position: relative;
    width: 160%;
    left: -85%;
  }
}

@media (max-width: 1024px) {
  #people .pimg {
    height: 650px;
    background-image: url('../img/peopleBG.jpg');
    width: 1024px;
  }

  .section5_textbox {
    margin-top: 40px;
  }

  .section5_textbox img {
    height: 70px;
    margin-top: 12px;
  }

  .section5_textbox p {
    font-size: 55px;
  }

  .section5-description {
    font-size: 20px;
    /*    margin-top: 20px;*/
  }

  #people .section5_wrapper {
    width: 968px;
    /*    height: 215px;
    margin-top: 60px;*/
  }

  #people .slide_wrapper {
    width: 768px;
    height: 200px;
    /*  margin: 0 auto;
    overflow: hidden;*/
  }

  #people .slides li {
    width: 240px;
    height: 200px;
    /*  background: rgba(242, 243, 245, .6);
    float: left;
    border: 1px solid #5826E8;*/
  }

  #people .controls {
    width: 968px;
    height: 200px;
    font-size: 24px;
    /*  font-weight: 700;
    z-index: 1;
    top: -200px;*/
  }

  .prev {
    font-size: 50px;
  }

  .col-10 {
    width: 768px;
  }

  .next {
    font-size: 50px;
  }

  .uxBox {
    width: 240px;
    height: 100%;
    margin-left: 20px;
    overflow: hidden;
  }

  .uxBoxText {
    padding-top: 20px;
    font-size: 14px;
  }

  .uxBoxImg img {
    position: relative;
    left: -70%
  }
}

@media (max-width: 768px) {
  #people .pimg {
    height: 720px;
    background-image: url('../img/peopleBG.jpg');
    width: 100%;
  }

  .section5_textbox {
    margin-top: 50px;
  }

  .section5_textbox img {
    height: 70px;
    margin-top: 12px;
  }

  .section5_textbox p {
    font-size: 55px;
  }

  .section5-description {
    font-size: 20px;
  }

  #people .section5_wrapper {
    width: 680px;
  }

  #people .slide_wrapper {
    width: 480px;
  }

  #people .slides li {
    width: 480px;
  }

  #people .controls {
    width: 680px;
    height: 200px;
  }

  .col-10 {
    width: 480px;
  }

  .uxBox {
    width: 480px;
    height: 100%;
    margin-left: 20px;
  }

  .uxBoxText {
    padding-top: 24px;
    font-size: 16px;
  }

  .uxBoxImg img {
    left: -55%
  }
}

@media (max-width: 480px) {
#people{
  height: 1050px;
}

  #people .pimg {
    height: 100%;
    background: none;
    background-color: #FFCD4C;
    width: 100%;
    justify-content: flex-start;
  }

.section5_textbox{
  margin-top: 80px;
  width: 100%;
  justify-content: center;
}

  .section5_textbox img {
    margin-top: 8px;
    height: 46px;
  }

  .section5_textbox p {
    font-size: 36px;
    letter-spacing: -2px;
  }

  .section5-description {
    font-size: 14px;
    margin-top: 20px;
  }

  #people .section5_wrapper {
    width: 300px;
    overflow: visible;
    transform: none;
  }

  #people .slide_wrapper {
    width: 300px;
    overflow: visible;
    display: flex;
    justify-content: center;
  }

  #people .slides{
    position: relative;
    width: 300px !important;
    transform: none !important;
  }

  #people .slides.animated{
    position: relative;
    width: 300px !important;
    transform: none !important;
  }

  #people .slides li {
    width: 100%;
    height: 150px;
    transform: skewX(10deg);
    margin-bottom: 24px;
  }

  #people .controls {
    display: none;
  }

  .clone{
    display: none;
  }

  .uxBox {
    width: 100%;
    height: 100%;
    margin-left: 14px;
  }

  .uxBoxText {
    padding-top: 20px;
    font-size: 14px;
  }

  .uxBoxImg img {
    left: -60%
  }

  .slides li:nth-child(2n) {
    display: none;
    }
}
